/* Fondo del contenedor principal */
body {
  font-family: Arial, sans-serif;
  background-color: #FCFDF9; /* Fondo general */
  margin: 0;
  padding: 0;
}

/* Fondo y estilo de la sección del Login */
section {
  background-color: #0798A3;
  padding-top: 2rem; /* Espaciado superior */
  padding-bottom: 2rem; /* Espaciado inferior */
}

/* Estilo para los inputs y el botón */
input, button {
  width: 100%;
  padding: 10px;
  border-radius: 25px; /* Bordes redondeados para inputs y botón */
}

/* Ajustes adicionales para los inputs */
input {
  margin-bottom: 1.5rem; /* Separación entre inputs */
}

/* Estilos para el formulario */
form {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Botón principal */
button {
  background: #0798A3;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background: #057A86; /* Color más oscuro cuando el mouse pasa por encima */
}


/* Estilos del enlace de Sign up */
a {
  color: #fff; /* Enlace blanco */
}

